@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
#sy_footer_part {
    font-family: 'Noto Sans KR', sans-serif;
    height: 150px;
  	position : relative;
 	transform : translateY(100%);
 	font-size: 14px;
}

#sy_footer_part p {
     padding: 20px;
}
        
#sy_footer_part ul{
     float: left;
     margin-right: 5px;
     list-style: none;
}

#sy_footer_part a {
	text-decoration-line: none;
	color: rgb(109, 108, 108);
}


#sy_footer_part .fo3{
		clear: both;
}	
#sy_footer_part .fo4{		
            clear: both;
            background-color: rgb(253, 102, 102);
            color: white;
}

#sy_footer_part li {
     padding: 5px;
}