#yj *{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

/*#yj*/
.background{
    height: 20%;
    background-image: url(../img/login_mail.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

/*#yj*/
@media screen and (max-width: 1000px) {
    .background {
	    background-image: none;
    }
}

#yj .login-form{
    height: 500%;
    margin: auto 0;
    width: 90%;
}

/*#yj*/
.login-content{
    width: 100%;
    margin:0 50% 0 0;
}
#yj .login-content h2{
    margin-top: 5%;
    margin-bottom: 14%;
    font-size: 50px;
}
#yj .login-content h2 a{
    text-decoration: none;
    color: black;
    font-family: 'Ms Madi', cursive;
}
#yj .login-content .title{
    padding-bottom: 5px;
    font-size: 21px;
}
#yj .login-content .header{
    margin-bottom: 10%;
}
#yj .login-content .footer{
    margin-top: 28px;
}

#yj span{
    font-size: 13px;
}

#yj #b {
	font-weight: 500;
}

#yj .input{
    padding:0 10px;
    border: 1px solid lightgray;
    width: 100%;
    height: 50px;
    line-height: 30px;
}

#yj input{
    margin-top: 5px;
    border:none;
    border-radius: 0;
}

#yj input[type=submit]{
    padding: 5px 10px;
    margin-top: 30px;
    width: 100%;
    height: 55px;
    background-color: rgb(247, 83, 83);
    color: white;
    font-weight: bold;
    font-size: 17px;
}

/* 오류메세지 띄우기 */
#yj .alert-danger{
	margin-bottom: 17px;
	padding: 0px;
	border: none;
	background: none;
	text-shadow: none;
	box-shadow: none;
	color: rgb(247, 83, 83);
}

#yj .header div b{
	font-size:27px;
	margin: 0;
	padding: 0;
}

#yj .footer a {
	text-decoration: underline;
}