<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
<div id="hj" class="row">
	<br><br>
	<!-- 큰 틀 -->
	<div class="justify-content-center col-lg-12 boxcontainer">
		<div class="justify-content-center col-lg-12 plusItem">
        <div th:if="${#lists.size(categorypage) != 0}">
        	<div class="col-md-12 alert-count"><span style="font-weight:bold;color:red" th:text="${#lists.size(projectList) + #lists.size(createdList)}"></span>개의 프로젝트가 있습니다.</div>      
        </div>
        <content th:if="${#lists.size(projectList) != 0}" >
			<div th:if="${#lists.size(categorypage) == 0}" class="col-md-12 subtitle"><h2>카테고리 &nbsp;[[${project.pCate}]]</h2></div>
			<div th:each="project : ${projectList}" class="col-md-3 form-group mt-3 mt-md-0 center subcontainer">
				<a th:href="@{|/project/detail/${project.pId}|}">
					<div id="projectimgcontainer">
						<div class="projectimg"><img id="projectimg" th:src="|/uploadfile/${project.ImgIdR.imgOriName}|" width="100%" height="180"/></div>
					</div>
					<br>
					<div class="row col-md-12">
						<h5 style="color: rgb(146, 146, 146);">
							[[${project.pCate} == '웹툰리소스' ? '웹툰 리소스' : ${project.pCate}]]&nbsp;&nbsp;|&nbsp;&nbsp;[[${project.account.aName}]]
						</h5>
						<h3 class="pname" th:text="${project.pName}"></h3>
						<br>
					</div>
					<div class="row col-md-12">
						<div style="border-bottom: 2px solid red ;width:100%"></div>
					</div>
				</a>
			</div>
		</content>
		</div>
		<hr>
		
		<content th:if="${#lists.size(createdList) != 0}">
			<div class="col-md-12 subtitle"><h2>공개예정 프로젝트</h2></div>
			<div th:each="create : ${createdList}" class="col-md-3 form-group mt-3 mt-md-0 center subcontainer">
				<a th:href="@{|/project/detail/${create.pId}?ref=prelaunch|}">
					<div id="projectimgcontainer">
						<div class="projectimg"><img th:src="|/uploadfile/${create.ImgIdR.imgOriName}|" width="100%" height="250"/></div>
					</div>
					<br>
					<div class="row col-md-12">
						<h5 style="color: rgb(146, 146, 146);">
							[[${create.pCate} == '웹툰리소스' ? '웹툰 리소스' : ${create.pCate}]]&nbsp;&nbsp;|&nbsp;&nbsp;[[${create.account.aName}]]
						</h5>
						<h3 class="pname"style="font-weight:bold" th:text="${create.pName}"></h3>
						<br> 
					</div>
					<div class="row col-md-12 pgoal">
						<h4>[[${#lists.size(create.notifyRequest)}]]명이 알림신청 중</h4>
					</div>  	
				</a>
        	</div>
		</content>
		
		<div class="col-md-12 center adimg ">
		<a th:href="@{/project/create}">
			<img src="/img/list_ad1.png"  width="100%" height="180"/>
		</a>
		</div>
	</div>
</div>
</div>
</html>